
@import url(comun.css);
#cerrar {
    padding-left:80rem;

}
.textos {
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(51, 54, 54, 0.685);
    color:var(--colorletras);
    
    border-radius: 20%;
    border:solid rgb(190, 220, 227) 0.2rem;
    #tituloarticulo{
        margin-top: 7rem;
     }
     #articulocon{
        margin: 3rem;
     }
    }
#imagen{
    flex: 1;
    max-width: 30%;
    margin-right: 2rem;
}
footer {
    background-color: var(--colorhefo);
    color:var(--colorletras);
    text-align: center;
    padding: 1rem ;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding-bottom: 0rem;

 #fecha, #tituloautor, #feedback {
    margin: 1rem;
 }
}
#feedbackForm{
    display: none;
}
#cerrar{
    font-size: 2rem;
 }
 @media only screen and (max-width:800px) { 
        main{
            display: flex;
            flex-direction: column;
        }
        #imagen{
            max-width: 80%;
        }
        .textos {
          margin: 2rem;
            #tituloarticulo{
                margin-top: 1rem;
             }
             #articulocon{
                width:25rem;
          
             }
            }

 }