@import url(comun.css);

/*aside*/
#filtrar {
    float: left; 
    padding: 20px;
    box-sizing: border-box;
}
aside h2 {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 1rem;
}
aside ul {
    list-style: none;
    padding: 0;
    margin: 0.5rem;
    width: 7rem;
    margin-top: 1rem;
    margin-bottom: 1rem
}
aside ul li {
    list-style: none;
    padding: 0;
    margin: 1rem 0;
}
aside ul li a {
    text-decoration: none;
    color: #333;
    cursor: pointer;
    display: block;
    padding: 0.3rem;
    border-radius: 5px;
    background-color: #f0f0f0;
    transition: background-color 0.3s ease;
}
aside ul li a:hover {
    background-color: #ccc;
}
/* contenedor de artículos */
#contenedorArticulos {
    margin-left: 0.5rem;
    padding: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
    
}



